* {
    box-sizing: border-box;
    margin: 0;
}

.block {
    background: #C4C4C4;
    padding: 10px;
    margin: 10px;
    height: 150px;

}

.block:nth-child(odd) {
    width: 75%;

}

.block:nth-child(even) {
    width: 50%;
}

.block:first-child h1 {
    font-size: 56px;
}

.block:first-child h2 {
    font-size: 42px;
}

.block:nth-child(2) h2 {
    font-size: 42px;
}

.block:nth-child(2) h3 {
    font-size: 28px;
}

.block:nth-child(3) h2 {
    font-size: 24px;
}

.block:nth-child(3) h3 {
    font-size: 16px;
}

.block:nth-child(4) h2 {
font-size:42px;
}

.block:nth-child(4) h3 {
    font-size: 28px;
}